apiVersion: carto.run/v1alpha1
kind: Workload
metadata:
  name: stuuck-tap-dotnet-tester
  labels:
    apps.tanzu.vmware.com/workload-type: web
    app.kubernetes.io/part-of: stuuck-tap-dotnet-tester
    tanzu.app.live.view: "true"
    tanzu.app.live.view.application.flavours: steeltoe
    tanzu.app.live.view.application.name: stuuck-tap-dotnet-tester
spec:
  source:
    git:
      url: https://github.com/rabadiw/stuuck-tap-dotnet-tester
      ref:
        branch: base
        #    subPath: stuuck-tap-dotnet-tester
